.cartitemcontainer {
    width: 60%;
    min-width: 1000px;
    height: fit-content;
    border: 1px solid black;
    margin: 40px auto;
    margin-top: 0px;
    box-sizing: content-box;
    padding: 10px;
    /* display: flex; */
    vertical-align: top;
    box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
    transition: transform .5s;
}

.cartitemcontainer:hover {
    transform: scale(1.02);
}
.cartitemwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

.cartitemwrapper > div {
    /* flex: 1; */
    flex-grow: 1;
}

.cart > h1 {
    /* margin-left: 20%; */
    text-align: center;
}

.cartitemwrapper a img {
    width: 200px;
    height: 300px;
}

.cartitemtext a {
    text-decoration: none;
    color: #333333;
}

.cartitemtext a:hover {
    text-decoration: underline;
    /* color: #333333; */
}

.cartitemtitletext, .cartitemauthortext {
    font-size: 25px;
    /* text-decoration: none; */
}

.cartitemtitletext {
    font-weight: bold;
    min-width: fit-content;
    margin-bottom: 5px;
}

.cartitemsellertext {
    margin-top: 20px;
    font-size: 20px;
    display: block;
}

.cartitemcreditcost {
    vertical-align: top;
    /* margin-top: 125px; */
    /* margin-left: 10%; */
}

.cartitemcreditcost i, .cartitemcreditcost div {
    font-size: 35px;
    display: inline;
}

.cartitemcreditcost i {
    color: #c5ad41;
}

.removefromcartbutton {
    flex-basis: 300px;
    flex-grow: 0!important;
}

.removefromcartsubmit {
    width: 80%;
    font-size: 22px;
    height: 35px;
    background-color: transparent;
    border: 2px solid #333333;
    border-radius: 1px;
    color:#333333; 
    box-sizing: border-box;
    transition: 0.3s;
    box-shadow: 1px 1px
}

.removefromcartsubmit:hover {
    background-color: #fdcc5b;
    border: 2px solid black;
    color: black;
    box-shadow: 1px 1px black;
} 

.ordertotal{
    text-align: center;
    font-size: 40px;
    color:#333333;
    /* font-weight: bold; */
}

.ordertotal i {
    font-size: 40px;
    color: #c5ad41;
}

.submitorderform {
    text-align: center;
}

.submitorder {
    /* width: 75px; */
    font-size: 30px;
    height: 45px;
    background-color: transparent;
    border: 2px solid #333333;
    border-radius: 1px;
    color:#333333; 
    box-sizing: border-box;
    /* transition: 0.3s; */
    box-shadow: 1px 1px;
    margin-top: 25px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, #fdcc5b 50%);
    transition: 1s;
}

.submitorder:hover {
    /* background-color: #fdcc5b; */
    border: 2px solid black;
    color: black;
    box-shadow: 1px 1px black;
    background-position: -100% 0%;
} 
.orderconfirmation{
    margin-left: 15%;
}

.orderconfirmation div {
    color: #333333;
    font-size: 20px;
    margin: 5px 0px;
}

.orderconfirmation i {
    color: #c5ad41;
}

.shipdate {
    font-weight: bold;
}

.shipdate, .shiptext {
    display: inline;
}

.emptycart {
    text-align: center;
    margin-top: 50px;
}

.emptycart, .emptycart a {
    color: #333333;
    font-size: 30px;
}